#slides {
    display: none
}

#slides .slidesjs-navigation {
    margin-top: 3px;
}

#slides .slidesjs-previous {
    margin-right: 5px;
    float: left;
}

#slides .slidesjs-next {
    margin-right: 5px;
    float: left;
}

.slidesjs-pagination {
    margin: 6px 0 0;
    float: right;
    list-style: none;
}

.slidesjs-pagination li {
    float: left;
    margin: 0 1px;
}

.slidesjs-pagination li a {
    display: block;
    width: 13px;
    height: 0;
    padding-top: 13px;
    background-image: url("/slider/img/pagination.png");
    background-position: 0 0;
    float: left;
    overflow: hidden;
}

.slidesjs-pagination li a.active,
.slidesjs-pagination li a:hover.active {
    background-position: 0 -13px
}

.slidesjs-pagination li a:hover {
    background-position: 0 -26px
}

#slides a:link,
#slides a:visited {
    color: #333
}

#slides a:hover,
#slides a:active {
    color: #9e2020
}

.navbar {
    overflow: hidden
}

#slides {
    display: none
}

.sld {
    margin: 0 auto
}

@media (max-width: 767px) {
    body {
        padding-left: 20px;
        padding-right: 20px;
    }

    .sld {
        width: auto
    }
}

@media (max-width: 480px) {
    .sld {
        width: auto
    }
}

@media (min-width: 768px) and (max-width: 979px) {
    .sld {
        width: 724px
    }
}

@media (min-width: 1200px) {
    .sld {
        width: 1170px
    }
}

#recognize {
    float: left;
}