.button {
    margin-left: 15px;
    border-top: 1px solid #364c59;
    background: #647785;
    background: -webkit-gradient(linear, left top, left bottom, from(#647682), to(#647785));
    background: -moz-linear-gradient(top, #647682, #647785);
    background: -ms-linear-gradient(top, #647682, #647785);
    background: -o-linear-gradient(top, #647682, #647785);
    padding: 4px 8px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
    box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
    text-shadow: rgba(0, 0, 0, .4) 0 1px 0;
    color: #d9eef7;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    vertical-align: middle;
}

.button:hover {
    color: #dbdbdb;
    background: #63727d;
    background: -webkit-gradient(linear, left top, left bottom, from(#64667a), to(#63727d));
    background: -moz-linear-gradient(top, #64667a, #63727d);
    background: -ms-linear-gradient(top, #64667a, #63727d);
    background: -o-linear-gradient(top, #64667a, #63727d);
}

.button:active {
    border-top-color: #787e82;
    background: #787e82;
}

.comments {
    border-radius: 5px;
    border: 1px solid #155FB0;
    margin-top: 14px;
    padding: 15px;
    background-color: #f5f5f5;
    box-shadow: 1px;
}

#my-search {
    margin-left: 400px;
}

#delbutton {
    margin-left: 20px;
}

#imgs {
    float: left;
}

#imgo {
    float: left;
    padding: 15px 15px 15px 15px;
    width: 200px;
    height: 300px;
    margin-left: -20px;
    margin-top: -20px;
}

body {
    margin: 0;
    padding: 0;
    color: #555;
    font: normal 10pt Arial, Helvetica, sans-serif;
    background: #EFEFEF;
}

#page {
    margin-top: 5px;
    margin-bottom: 5px;
    background: white;
}

#header {
    margin: 0;
    padding: 0;
    border-top: 3px solid #C9E0ED;
}

#content {
    padding: 20px;
}

#sidebar {
    padding: 20px 20px 20px 0;
}

#footer {
    padding: 10px;
    margin: 10px 20px;
    font-size: 0.8em;
    text-align: center;
    border-top: 1px solid #C9E0ED;
}

#logo {
    padding: 10px 20px;
    font-size: 200%;
}

div.form .rememberMe label {
    display: inline;
}

div.search-form {
    padding: 10px;
    margin: 10px 0;
    background: #eee;
}

.portlet-decoration {
    padding: 3px 8px;
    background: #B7D6E7;
    border-left: 5px solid #6FACCF;
}

/* Приховуємо сторінки пагінації "перейти на останню" та "перейти на першу" */
ul.pagination .first,
ul.pagination .last {
    display: none;
}
