#page {
    margin-top: 5px;
    margin-bottom: 5px;
    background: white;
}

div.form .rememberMe label {
    display: inline;
}

div.search-form {
    padding: 10px;
    margin: 10px 0;
    background: #eee;
}

.portlet-decoration {
    padding: 3px 8px;
    background: #B7D6E7;
    border-left: 5px solid #6FACCF;
}

/* Приховуємо сторінки пагінації "перейти на останню" та "перейти на першу" */
ul.pagination .first,
ul.pagination .last {
    display: none;
}

/* Для каруселі на головній сторінці */
#owl-demo .item img {
    display: block;
    width: 100%;
    height: auto;
}
