language: php

php:
  - 5.4
  - 5.5
  - 5.6

env:
  - Yii 1.1.15

before_script:
    - php protected/yiic migrate
    - php protected/yiic fixtures load
    - cd protected/tests

script:
  - phpunit --verbose functional
