# Файл налаштувань віртуального хоста для коректної роботи urlManager
<VirtualHost *:80>
    DocumentRoot /var/www/chooseone/
    ServerName chooseone
    <Directory /var/www/chooseone/>
        Options FollowSymLinks
        AllowOverride All
    </Directory>
</VirtualHost>
